<div id="<%= id %>" class="search-container d-flex flex-column">
  <form id="search-form" action="/decretos" method="GET">
    <input type="search" placeholder="Número" name="numero" />
    <input type="search" placeholder="Año" name="anho" />
    <button id="search-button" class="m-1" type="submit" value="search">
      Buscar
    </button>
  </form>
  <div id="adv-filters">
    <button id="add-filter">Agregar filtros</button>
  </div>
</div>
