<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Decretos App</title>
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <nav>
        <div class="container">
          <h1>Aplicación de <%= title %></h1>
        </div>
      </nav>
    </header>
    <!-- /Header -->

    <!-- Main -->
    <main>

      <table
        id="myTable"
        class="table table-borderless table-striped table-earning"
      >
        <thead>
          <tr>
            <th>Número</th>
            <th>Año</th>
          </tr>
        </thead>
        <tbody id="testBody">
          <% data.forEach((decreto) => {%>
          <tr>
            <td><%= decreto.numero %></td>
            <td><%= decreto.anho %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </main>
    <!-- /Main -->
  </body>
</html>
