<!-- Header -->
<%- include('partials/header', {showSearchBar: false}) %>
<!-- /Header -->

<div class="search-container d-flex justify-content-center">
  <div>
    <form id="search-form" action="/decretos" method="GET">
      <input type="search" placeholder="Número" name="num" />
      <input type="search" placeholder="Año" name="anho" />
      <button id="search-button" type="submit" value="search">Buscar</button>
    </form>
    <div id="adv-filters" class="d-flex flex-column"></div>
    <button id="add-filter">Agregar filtros</button>
  </div>
</div>


<!-- Footer -->
<%- include('partials/footer') %>
<!-- /Footer -->
