<!-- Header -->
<%- include('partials/header', {showSearchBar: false}) %>
<!-- /Header -->

<main>
  <div class="container">
    <form id="search-form" action="/decretos" method="GET">
      <div class="row">
        <input
          type="search"
          placeholder="Número"
          name="num"
          class="form-control col"
          aria-describedby="numberInput"
        />
        <input
          type="search"
          placeholder="Año"
          name="anho"
          class="form-control col"
          aria-describedby="yearInput"
        />
      </div>
      <div id="adv-filters" class="row"></div>
      <div class="row">
        <button
          id="search-button"
          type="submit"
          class="btn btn-primary col"
          value="search"
        >
          Buscar
        </button>
        <button
          id="add-filter"
          onclick="addFilter(event)"
          class="btn btn-secondary col"
        >
          Agregar filtros
        </button>
      </div>
    </form>
  </div>
</main>

<!-- Footer -->
<%- include('partials/footer') %>
<!-- /Footer -->
