.logo a {
    text-decoration: none;
}

.tabla-decretos {
    table-layout: auto;
}

#reg-sb input {
    color: blueviolet;
}

#main-sb input {
    color: green;
}

.tabla-decretos {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}